/cmake-build-debug/
/cmake-build-debug-dev1/
/cmake-build-debug-remote-host-dev1-cuda/
/cmake-build-debug-remote-host-dev2-cuda/
/cmake-build-default/
/cmake-build-default-remote-host-dev1-cuda/
/CMakeFiles/
/.vscode/
/bin/

